<div id="fullscreen_bg" class="fullscreen_bg"/>

<div class="container">

  <form class="form-signin">
    <h1 class="form-signin-heading text-muted">Join Us</h1>
    <input type="text" name="email" class="form-control" placeholder="Email address" required="" autofocus="">
    <input type="password" name="password" class="form-control" placeholder="Password" required="">
    <input type="password" name="confirmPass" class="form-control" placeholder="Confirm Your Password" required="">
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Join !
    </button>
  </form>

</div>
