<div id="fullscreen_bg" class="fullscreen_bg"/>

<div class="container">

  <form class="form-signin login" name="loginForm" ng-submit="submitLogin()">
    <h1 class="form-signin-heading text-muted">Log In</h1>
    <input type="email" class="form-control" placeholder="Email address" required="" autofocus="" ng-model="login.email">
    <input type="password" class="form-control" placeholder="Password" required="" ng-model="login.password">
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Sign In
    </button>
  </form>

</div>
